@font-face{
    font-family:'Montserrat';
	src: url(Montserrat/Montserrat-Regular.ttf);
}

* {
	margin:0;
	padding: 0;
}

/*body {
	background-color:#3d3d3d;
}*/

.container{
	margin:0 auto !important;
	padding:0 !important;
	color:#290101fd;
	/*overflow: hidden;
	background: ;*/
}

#header {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-gap:1em;
	padding: 10% 0 10% 5%;
	font-family: Montserrat;
	background:#f6b948;
	max-height: 200px;
	height:200px;
}

#header #brand-nav {
	font-size: 1.5em;
	margin-top:5%;
}

#header #nav-bar {
	float:left;
}

#header #nav-bar li {
	list-style-type: none;
	display: inline;
	margin-right:10%;
	font-size:28px;
}

#header a {
	text-decoration: none;
	color:#290101fd;
}

/*#main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1em;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width:90%;
	margin:0 auto;
}

#main > div {
	background: #f4f4f4;
	margin-right:10%;
	border:#000 solid 2px;
	width: 40%;
	height: 250px;
}*/

.nav-active {
	font-weight:bolder;
	text-transform: uppercase;
}

/*.nav-active{
	border-bottom: 3px solid black;
	border-bottom-width: 1px;
	border-radius: 100%;
}*/


#main{
	display: grid;
	grid-template-rows: 10% 10% 80%;
	gap:1em;
	font-family: Montserrat, sans-serif;
	
}

#main #main_header > *{
	margin-left:10%;
	display: flex !important;
	flex-direction: row;
	margin-top: 5%;
}

#main #main_header h1 {
	float: left;
	font-weight: bolder;
	margin-right:40%;
}

#search-f {
	box-sizing:border-box;
	border-radius:10px;
	border:1px solid #111;
	padding:2% 5%;
}

#search-f:active {
	outline: hidden;
}

#mini-nav {
	width: 75%;
	margin:0 auto;
	font-size:1.5em;
}

#mini-nav li{
	display:inline;
	margin-right:10%;
}

#mini-nav a {
	color:#290101fd;
	text-decoration: none;
}

#ad-section {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-left: 10%;
	gap:10% 0;
}

.ad-box{
	width:300px;
	border: solid #111 1px;
	height: 300px;
	background-color: #f4f4f4;
}

.ad-box > button {
	background:#f8d743;
	width: 40px;
	border:none;
	border-top-left-radius: 10px;
	position: relative;
	top:89%;
	left:87%;
}

.ad-box > button>img {
	width:30px;
	height:30px;
	text-align: center;
}

#ham-nav {
	position: absolute;
	left:90%;
	top:2%;
}

#ham-nav img{
	width:50px;
	height:50px;
}

#side-nav {
	position: fixed;
	top:0;
	width:0;
	height:100%;
	z-index: 10;
	right:0;
	background:#f4f4f4;
	font-size:30px;
	overflow-x: hidden;
	transition: width 0.35s ease-in-out;
	font-family:Montserrat,sans-serif;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

#side-nav  a {
	text-decoration: none;
	font-weight: bolder;
	text-align: center;
	color: #290101fd;
}

#side-nav img {
	width:40px;
	height:40px;
}

#side-nav #profile {
	border-bottom:1px solid #290101fd;
	margin-bottom:10%;
	width:100%;
	height:7%;
}

.sides {
	margin-left:5%;
	margin-bottom:10%;
}

.sides img {
	padding:3%;
	background: #f8d743;
	border-radius:15px;
	margin-bottom:-5%;
	margin-right:5%;
}

.sides-nav {
	margin-bottom:20%;
}

#close-side {
	position: relative;
	top:0;
	right:-90%;
	font-size:2em;
	margin-bottom:15%;
}

/*#side-nav #close-side {
	position: relative;
	top:0;
	right:-30%;
	font-size:2em;
}

#side-nav img {
	width:40px;
	height:40px;
}*/
