#main {
	display: grid;
	grid-template-rows: 10% 10% 80%;
	margin-top: 5%;
}

#main #main_header > *{
	margin-left:10%;
	display: flex;
	flex-direction: row;
	font-family: Montserrat,sans-serif;
}

#main #main_header h1 {
	float: left;
	font-weight: bolder;
	margin-right:40%;
}

#search-f {
	box-sizing:border-box;
	border-radius:10px;
	border:1px solid #111;
}

#search-f:active {
	outline: none;
}

#mini-nav {
	width: 75%;
	margin:0 auto;
	font-size:1.5em;
	font-family: Montserrat,sans-serif;
}

#mini-nav li{
	display:inline;
	margin-right:10%;
}

#mini-nav a {
	color:#290101fd;
	text-decoration: none;
}

#sub-main {
	display: grid;
	grid-template-rows: 80% 20%;
	gap:35%;
}

#ad-section {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-left: 10%;
	gap:10% 0;
}

.ad-box{
	width:300px;
	border: solid #111 1px;
	height: 300px;
	background-color: #f4f4f4;
	border-radius: 10px;
	transition: transform 80ms ease-in;
}

.ad-box > button {
	background:#f8d743;
	width: 40px;
	border:none;
	border-top-left-radius: 10px;
	position: relative;
	top:89%;
	left:87%;
}

.ad-box > button>img {
	width:30px;
	height:30px;
	text-align: center;
}

.ad-box:active {
	transform:scale(0.95) !important;
}

#page-nav {
	width:70%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	font-size: 1.5em;
	margin-bottom: 20%;
}

#page-nav img {
	width: 50px;
	height: 50px;
}

#page-nav a {
	text-decoration: none;
	color:#290101fd;
}

#left-nav {
	margin-right: 20%;
}

#right-nav {
	margin-left: 20%;
}


#ham-nav {
	position: absolute;
	left:90%;
	top:2%;
}

