<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='index.css') }}">
<div id="header">
	<div id="ham-nav">
		<img src="{{ url_for('static',filename='icons/md-menu.svg')}}">
	</div>
	<div id="brand-nav">
		<div>
			<a href="index"><h1>FarmSpace</h1></a>
		</div>
	</div>
	<div id="nav-bar">
		<ul>
			<li id="crops"><a href="#">Crops</a></li>
			<li id="livestock"><a href="#">Livestock</a></li>
			<li id="forestry"><a href="#">Forestry</a></li>
			<li id="vet"><a href="#">Vet Services</a></li>
		</ul>
	</div>
</div>

<div id="side-nav">
	<div><a href="#" id="close-side">&times;</a></div>
	<div id="profile" class="sides sides-nav"><a href="sign_up"><img src="{{url_for('static',filename='icons/md-contact.svg')}}"> Create Account</a></div>
	<div class="sides sides-nav"><a href="#" id=""><img src="{{url_for('static',filename='icons/ios-home.svg')}}">Home</a></div class="ad-box">
	<div class="sides sides-nav"><a href="#" id=""><img src="{{url_for('static',filename='icons/ios-person-add.svg')}}">About</a></div>
	<div class="sides sides-nav"><a href="#" id=""><img src="{{url_for('static',filename='icons/ios-cart.svg')}}">My Cart</a></div>
	<div class="sides sides-nav"><a href="#" id=""><img src="{{url_for('static',filename='icons/md-call.svg')}}">Contact Us</a></div>
	<div class="sides sides-nav"><a href="#" id=""><img src="{{url_for('static',filename='icons/md-create.svg')}}">Create Store</a></div>
	<div class="sides sides-nav"><a href="#" id=""><img src="{{url_for('static',filename='icons/ios-help-circle-outline.svg')}}">FAQs</a></div>
</div>

<style type="text/css">

	#header {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-gap:1em;
	padding: 10% 0 10% 5%;
	font-family: Montserrat;
	background:#f6b948;
	max-height: 200px;
	height:200px;
}

#header #brand-nav {
	font-size: 1.5em;
}

#header #nav-bar {
	float:left;
}

#header #nav-bar li {
	list-style-type: none;
	display: inline;
	margin-right:10%;
	font-size:28px;
}

#header a {
	text-decoration: none;
	color:#290101fd;

}
	#ham-nav img{
	width:50px;
	height:50px;
}

#ham-nav:active {
	transform: scale(0.8);
	transition: transform 0.5ms ease-in
}

#side-nav {
	position: fixed;
	top:0;
	width:0;
	height:100%;
	z-index: 10;
	right:0;
	background:#111;
	font-size:30px;
	overflow-x: hidden;
	transition: width 0.25s ease-in;
	font-family:Montserrat,sans-serif;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	opacity: 0.9;
}

#side-nav  a {
	text-decoration: none;
	font-weight: bolder;
	text-align: center;
	color: #f8d743;
}

#side-nav img {
	width:40px;
	height:40px;
}

#side-nav #profile {
	border-bottom:1px solid #fff;
	margin-bottom:10%;
	width:100%;
	height:7%;
}

.sides {
	margin-left:5%;
	margin-bottom:10%;
}

.sides img {
	padding:3%;
	background: #f8d743;
	border-radius:15px;
	margin-bottom:-5%;
	margin-right:5%;
}

.sides-nav {
	margin-bottom:20%;
}

#close-side {
	position: relative;
	top:0;
	right:-90%;
	font-size:2em;
	margin-bottom:15%;
}
</style>