<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<div id="header">
		<div id="ham-nav">
			<ion-icon name="menu" size=""></ion-icon>
		</div>
		<div id="brand-nav">
			<div>
				<h1>Agrostore</h1>
			</div>
		</div>
		<div id="nav-bar">
			<ul>
				<li>Crops</li>
				<li>Livestock</li>
				<li>Forestry</li>
				<li>Vet Services</li>
			</ul>
		</div>
	</div>

	<section id="main">
		<div></div>
		<div></div>
	</section>

<!-- resource -->
<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>

</body>
</html>
